:root {
    --main-text-color: #FE5D26;
}

@font-face {
    font-family: 'Azonix';
    font-weight: normal;
    src: url("fonts/Azonix.otf") format("opentype");
}

html {
    scroll-behavior: smooth;
    color: var(--main-text-color);
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 93, 157);
}

.navbar-light .navbar-nav .active > .nav-link {
    color: rgb(0, 93, 157);
}

.navbar-brand {
    display: flex;
    margin-left: 2%;
}

.navbar-toggler{
    font-size: 0.95rem;
    margin-right: 2%;
}

.navbar {
    background: #ffffff;
    color: rgb(0, 93, 157);
    font-weight: bold;
    padding: 0;
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav {
        padding: 0 3% 0 3%;
    }
}

.nav-item {
    padding: 1.2% 0 1.2% 0;
}

.nav-item.active {
    border-bottom: 2px solid rgb(0, 93, 157);
}

.carousel-item {
    overflow: hidden;
}

.carousel-item img {
    height: 600px;
    width: auto;
}

.carouselBg {
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-caption{
    bottom: 0;
    top: 30%;
}

.cardsContainer {
    padding: 0 10px 0 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    align-content: start;
    margin-top: 10px;
}

.cardsContainer > .card {
    flex: 0 0 auto;
    margin-right: 20px;
}

.card{
    background: #f2f2f2;
    color: rgb(0, 93, 157);
}

.cardsContainer {
    overflow: hidden;
}

.btn-primary {
    background: rgb(47, 206, 124);
    color: rgb(0, 93, 157);
}
.btn-primary:hover{
    background: rgb(0, 93, 157);
    color: rgb(47, 206, 124);
}

.entSlider{
    overflow: hidden;
    width: 75%;
    margin: auto;
    margin-bottom: 3vh;
    position: relative;
}

#entSliderImg{
    position: relative;
}

#entSliderImg img{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    flex: 0 0 auto;
    margin: 0px;
}

.entSliderText{
    text-align: center;
    position: absolute;
    color: rgb(0, 93, 157);
    z-index: 10;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.entSliderText h1{
    color: #ffffff;
    font-weight: 600;
    text-shadow: 0 1px 1px #000000;
}

.entSliderText button + button{
    margin-left: 5%;
}

.flex-row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: start;
}

.flex-row-rev{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    align-content: start;
}

#info {
    padding: 0 2%;
}

.portfolioItem {
    color: rgb(0, 93, 157);
    position: relative;
    width: 75%;
    margin:auto;
    margin-bottom: 20px;
    background: #f2f2f2;
}
.portfolioItemDesc {
    padding: 0 2%;
}
.portfolioItem img {
    width: 50%;
}

#applyForm {
    margin-bottom: 30px;
}

.logo {
    height: 20px;
    width: auto;
}

.color-blue {
    color: #007bff;
}
#who-are-we{
    background: url(img/bg_lines.jpg), linear-gradient(rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-blend-mode: color;
}

#who-are-you{
    /*background: url(img/bg_lines_Flip.jpg);*/
    /*background-size: cover;*/
    /*background-position: top;*/
}

.team-member{
    width: 100%;
    height: auto;
    border-radius: 50%;
}